<html>
<head>
<%= stylesheet_link_tag "admin_style", :media => "all" %>
<%= javascript_include_tag :defaults %>

<style type="text/css">
body {
	margin: 0;
	padding: 0;
	text: white;
	background: #666666;
}
</style>

</head>
<body>
<% if flash[:notice] %>
	<div id="notice"><%=flash[:notice]%></div>
<% end %>
<% form_tag( { :action => 'update_program', :id => @program}, :multipart => true ) do %>
  <%= render :partial => 'program_form' %>
  <%= submit_tag 'Update' %>
<% end %>
</body>
</html>