<h1>All disabled programs </h1>
<br>

<% form_tag :action => 'update_program_list' do %>
	<% for @program in @all_disabled_programs %>
		<%= render :partial => 'list_programs' %>
	<% end %>
  <%= submit_tag 'Update programs' %>
<% end %>
