<h1>All unlinked programs</h1>
<br>

<% form_tag :action => 'update_program_list' do %>
	<% for @program in @all_unlinked_programs %>
		<%= render :partial => 'list_programs' %>
	<% end %>
  <%= submit_tag 'Update programs' %>
<% end %>
