<h1>New partner</h1>

<% form_tag( { :action => 'create_partner' }, :multipart => true ) do %>
  <%= render :partial => 'partner_form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list_partners' %>
