<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>没够音乐 - 视频 直播 电视 酷比网</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<meta HTTP-EQUIV="Content-Language" content="cn">
<META name="description" content="">
<META name="keywords" content="">
<script type="text/javascript" src="http://www.koobee.com.cn/misc/jquery.js"></script>
<script type="text/javascript" src="http://www.koobee.com.cn/misc/drupal.js"></script>
<script type="text/javascript" src="http://www.koobee.com.cn/sites/all/modules/fpss/engines/jquery-comp.js"></script>
<script type="text/javascript" src="http://www.koobee.com.cn/sites/all/modules/fpss/engines/jquery-fpss-comp.js"></script>
<script type="text/javascript">var speed_delay = 4000;var slide_speed = 500;var fpssLoaderDelay = 500;var CTRrotateAction = 'click';</script>
<style type="text/css" media="all">@import "http://www.koobee.com.cn/sites/all/modules/fpss/templates/koobee/template_css.php?w=430&h=300&sw=130";</style>

<style type="text/css" media="all">@import "http://www.koobee.com.cn/modules/node/node.css";</style>
<style type="text/css" media="all">@import "http://www.koobee.com.cn/modules/system/defaults.css";</style>
<style type="text/css" media="all">@import "http://www.koobee.com.cn/modules/system/system.css";</style>
<style type="text/css" media="all">@import "http://www.koobee.com.cn/modules/user/user.css";</style>
<style type="text/css" media="all">@import "http://www.koobee.com.cn/sites/all/modules/archive/archive.css";</style>
<style type="text/css" media="all">@import "http://www.koobee.com.cn/sites/all/modules/cck/content.css";</style>
<style type="text/css" media="all">@import "http://www.koobee.com.cn/sites/all/modules/checkbox_validate/checkbox_validate.css";</style>
<style type="text/css" media="all">@import "http://www.koobee.com.cn/sites/all/modules/fckeditor3/fckeditor.css";</style>
<style type="text/css" media="all">@import "http://www.koobee.com.cn/sites/all/modules/tagadelic/tagadelic.css";</style>

<style type="text/css" media="all">@import "http://www.koobee.com.cn/sites/all/modules/cck/fieldgroup.css";</style>
<style type="text/css" media="all">@import "http://www.koobee.com.cn/sites/all/themes/koobee/style.css";</style>
<!--[if gt IE 6]><style type="text/css" media="all">@import "/sites/all/themes/koobee/ie7.css";</style><![endif]-->
<LINK REL="SHORTCUT ICON" HREF="http://www.koobee.com.cn/sites/all/themes/koobee/favicon.ico" />
<script type="text/javascript" src="http://www.koobee.com.cn/misc/kb.js"></script>
<style type="text/css">
<!--
body {
	background:url(/images/mogo_koobee_bg1.jpg) top center no-repeat; background-attachment:fixed;
	background-color: #cccdcf;
}
-->
</style>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7984033-1");
pageTracker._trackPageview();
} catch(err) {}
</script>

</head>
<body>
<a name="top"></a>
<%= javascript_include_tag "mogo" %>
<script type="text/javascript">
$(function() {
		var target_program_id = get_url_param('program_id');
		if (target_program_id != null && target_program_id != '') {
			mogo_frame.location.href = "/mogo/index/?program_id=" + target_program_id;
		}
		else {
			mogo_frame.location.href = "/mogo/index";
		}

});
</script>

<center>
<div id="container"  style="width:1181px;">
		<div id="top">
		<div class="logo"><a href="http://www.koobee.com.cn/"><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/logo.gif" alt="koobee.net 酷比网"/></a></div>
			<div class="right_wrap">

				<div class="lang"><ul>
		<li class="zh-hans first active">
		<a class="language-link active" href="http://www.koobee.com.cn/zh-hans">简体中文</a>
		</li>
		<li class="en last active">
		<a class="language-link active" href="http://www.koobee.com.cn/en">English</a>
		</li>
		</ul></div>				<div class="login"><form action="http://www.koobee.com.cn/zh-hans/header?destination=header"  accept-charset="UTF-8" method="post" id="user-login-form">

 <label for="edit-name">用户名：</label>
 <input id="edit-name" class="form-text required" type="text" value="" size="15" name="name" maxlength="60"/>
 <label for="email">密码：</label>
 <input id="edit-pass" class="form-text required" type="password" size="15" maxlength="60" name="pass"/>
 <input type="submit" class="form-submit" value="登录" id="edit-submit" name="op"/>
 <input type="button" onclick="window.location.href='http://koobee.com.cn/user/register' " value="注册" name="op" class="form-button" id="edit-button"/>
<input type="hidden" name="form_id" id="edit-user-login-block" value="user_login_block"  />
</form>
</div>			</div>

        <div class="nav_menu">
            <div id="slidingBlock" style="background-image:url(http://www.koobee.com.cn/sites/all/themes/koobee/images/1181mogo.gif); width:1181px;">
                 <div id="nav_box">
    <h4 class="menuNo" id="mod1" onmouseover="switchmodTag('mod','slidingList','1')">
<a href="http://www.koobee.com.cn/node" title="酷比网首页">主页</a></h4><div id="line"></div>
    <h4 class="menuNo" id="mod2" onmouseover="switchmodTag('mod','slidingList','2')">
直播</h4><div id="line"></div>
    <h4 class="menuNo" id="mod3" onmouseover="switchmodTag('mod','slidingList','3')">
体育</h4><div id="line"></div>

    <h4 class="menuOn" id="mod4" onmouseover="switchmodTag('mod','slidingList','4');">
音乐</h4><div id="line"></div>
    <h4 class="menuNo" id="mod5" onmouseover="switchmodTag('mod','slidingList','5')">
娱乐</h4><div id="line"></div>
    <h4 class="menuNo" id="mod6" onmouseover="switchmodTag('mod','slidingList','6')">
校园</h4><div id="line"></div>
    <h4 class="menuNo" id="mod7" onmouseover="switchmodTag('mod','slidingList','7')">
原创</h4></div>
<div class="slidingList_none" id="slidingList1"><ul><li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://www.koobee.com.cn/zh-hans/sports">酷频道</a></li><li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://www.koobee.com.cn/zh-hans/outdoor">酷活动</a></li></ul></div><div class="slidingList_none" id="slidingList2">

<ul>
<li style="width:100px;"></li>
<li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://www.koobee.com.cn/zh-hans/bttv">兵团卫视</a></li>
<li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://mogo.koobee.com.cn">没够音乐</a></li>
</ul>
</div><div class="slidingList_none" id="slidingList3">
<ul><li style="width:200px;"></li><li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://www.koobee.com.cn/zh-hans/epl">英超</a></li><li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://www.koobee.com.cn/zh-hans/sports">酷比全体育</a></li><li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://www.koobee.com.cn/zh-hans/fight">搏击频道</a></li></ul>
</div>
<div class="slidingList" id="slidingList4"><ul><li style="width:300px;"></li><li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://www.koobee.com.cn/zh-hans/bttv">兵团卫视</a></li><li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://mogo.koobee.com.cn">没够音乐</a></li></ul></div>

<div class="slidingList_none" id="slidingList5"><ul><li style="width:400px;"></li><li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://www.koobee.com.cn/zh-hans/quest">挑战频道</a></li><li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://www.koobee.com.cn/zh-hans/fashion">时尚频道</a></li><li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://www.koobee.com.cn/zh-hans/creativetube">非常短片</a></li></ul></div>
<div class="slidingList_none" id="slidingList6"><ul><li style="width:500px;"></li><li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://www.koobee.com.cn/zh-hans/campus">校园文化</a></li><li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://www.koobee.com.cn/zh-hans/outdoor">酷比户外摄影摄像大奖赛</a></li></ul></div><div class="slidingList_none" id="slidingList7"><ul><li style="width:620px;"></li><li><img src="http://www.koobee.com.cn/sites/all/themes/koobee/images/menu_arrow.gif"/><a href="http://www.koobee.com.cn/zh-hans/creativetube">非常短片</a></li></ul></div><script language="javascript">
                 function switchmodTag(modtag,modcontent,modk) {
				 var menu_count=8;
                 for(i=1; i <menu_count; i++) {
                     if (i==modk) {
                        document.getElementById(modtag+i).className="menuOn";document.getElementById(modcontent+i).className="slidingList";}
                     else {
                       document.getElementById(modtag+i).className="menuNo";document.getElementById(modcontent+i).className="slidingList_none";}
                     }
                  }
                 </script>		</div>
	</div>
    </div>
		<!--//top-->
<!-- ************************************************* -->
<iframe align="left" name="mogo_frame" id="mogo_frame" ALLOWTRANSPARENCY="true" vspace="0" scrolling="no" frameborder="0" hspace="0" src="" width="1180" height="2000"></iframe>
<!-- ************************************************* -->
</div>
</center>
</body>
</html>
