<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name=Title content=MOGO网络电视台招募节目主持人>
<meta name=Keywords content="">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 2008">
<meta name=Originator content="Microsoft Word 2008">
<link rel=File-List href="MOGO%E7%BD%91%E7%BB%9C%E7%94%B5%E8%A7%86%E5%8F%B0%E6%8B%9B%E5%8B%9F%E5%90%AF%E7%A4%BA_files/filelist.xml">
<title>MOGO网络电视台招募节目主持人</title>
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>JL</o:Author>
  <o:Template>Normal.dotm</o:Template>
  <o:LastAuthor>Francis Wang</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>29</o:TotalTime>
  <o:Created>2009-07-17T05:03:00Z</o:Created>
  <o:LastSaved>2009-07-17T05:03:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>145</o:Words>
  <o:Characters>830</o:Characters>
  <o:Company>MOGO</o:Company>
  <o:Lines>6</o:Lines>
  <o:Paragraphs>1</o:Paragraphs>
  <o:CharactersWithSpaces>1019</o:CharactersWithSpaces>
  <o:Version>12.256</o:Version>
 </o:DocumentProperties>
 <o:OfficeDocumentSettings>
  <o:PixelsPerInch>96</o:PixelsPerInch>
  <o:TargetScreenSize>800x600</o:TargetScreenSize>
 </o:OfficeDocumentSettings>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:TrackMoves>false</w:TrackMoves>
  <w:TrackFormatting/>
  <w:DrawingGridHorizontalSpacing>6 pt</w:DrawingGridHorizontalSpacing>
  <w:DisplayHorizontalDrawingGridEvery>2</w:DisplayHorizontalDrawingGridEvery>
  <w:DisplayVerticalDrawingGridEvery>2</w:DisplayVerticalDrawingGridEvery>
  <w:ValidateAgainstSchemas>false</w:ValidateAgainstSchemas>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotUnderlineInvalidXML/>
  <w:Compatibility>
   <w:UseNormalStyleForList/>
   <w:DontUseIndentAsNumberingTabStop/>
   <w:FELineBreak11/>
   <w:WW11IndentRules/>
   <w:DontAutofitConstrainedTables/>
   <w:AutofitLikeWW11/>
   <w:UnderlineTabInNumList/>
   <w:HangulWidthLikeWW11/>
   <w:UseFELayout/>
  </w:Compatibility>
 </w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="276">
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
@font-face
	{font-family:Arial;
	panose-1:2 11 6 4 2 2 2 2 2 4;
	mso-font-charset:0;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 0 0 0 1 0;}
@font-face
	{font-family:SimSun;
	panose-1:0 0 0 0 0 0 0 0 0 0;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-format:other;
	mso-font-pitch:variable;
	mso-font-signature:1 0 16778254 0 262144 0;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:SimSun;
	mso-bidi-font-family:"Times New Roman";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;
	text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;
	text-underline:single;}
@page Section1
	{size:595.3pt 841.9pt;
	margin:1.0in 1.25in 1.0in 1.25in;
	mso-header-margin:42.55pt;
	mso-footer-margin:49.6pt;
	mso-paper-source:0;
	layout-grid:15.6pt;}
div.Section1
	{page:Section1;}
 /* List Definitions */
@list l0
	{mso-list-id:110436218;
	mso-list-type:hybrid;
	mso-list-template-ids:-1682567102 -1234145710 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l0:level1
	{mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:.25in;
	text-indent:-.25in;}
@list l1
	{mso-list-id:1813406595;
	mso-list-type:hybrid;
	mso-list-template-ids:1072564542 67698703 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l1:level1
	{mso-level-tab-stop:21.0pt;
	mso-level-number-position:left;
	margin-left:21.0pt;
	text-indent:-21.0pt;}
ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";}
</style>
<![endif]-->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>

<div class=Section1 style='layout-grid:15.6pt'>

<p class=MsoNormal style='text-indent:89.7pt;mso-char-indent-count:6.9'><b
style='mso-bidi-font-weight:normal'><span style='mso-bidi-font-size:14.0pt;
mso-fareast-language:ZH-CN'>MOGO</span></b><b style='mso-bidi-font-weight:normal'><span
lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman";mso-fareast-language:
ZH-CN'>网络电视台招募节目主持人</span></b><b style='mso-bidi-font-weight:normal'><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p></o:p></span></b></p>

<p class=MsoNormal style='text-indent:1.15in;mso-char-indent-count:6.9'><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'>MOGO</span></b><span
lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman";mso-fareast-language:
ZH-CN'>网络电视台</span><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;
mso-fareast-language:ZH-CN'> </span><b><span style='mso-bidi-font-size:14.0pt;
mso-fareast-language:ZH-CN'>(<a href="http://www.mogo.com.cn/">www.mogo.com.cn</a>)
</span></b><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:SimSun;
mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New Roman";
mso-fareast-language:ZH-CN'>是一个收视人群广泛的，内容以音乐、文化、艺术、潮流为主的视频网站。在过去的三年里，我们已经制作了四千多个独具特色的节目。</span><b
style='mso-bidi-font-weight:normal'><span style='mso-bidi-font-size:14.0pt;
mso-fareast-language:ZH-CN'>MOGO</span></b><span lang=ZH-CN style='mso-bidi-font-size:
14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>网络电视台正进行节目调整，招募活泼、智慧、幽默，口齿伶俐，反应敏捷的音乐节目主持人</span><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'>2</span><span
lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman";mso-fareast-language:
ZH-CN'>名。具体要求如下：</span><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'><o:p></o:p></span></p>

<p class=MsoNormal><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-left:21.0pt;text-indent:-21.0pt;mso-list:l1 level1 lfo1;
tab-stops:list 21.0pt'><![if !supportLists]><b style='mso-bidi-font-weight:
normal'><span style='mso-bidi-font-size:14.0pt;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ZH-CN'><span style='mso-list:Ignore'>1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><![endif]><b
style='mso-bidi-font-weight:normal'><span lang=ZH-CN style='mso-bidi-font-size:
14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>热爱音乐，熟悉音乐</span></b><b
style='mso-bidi-font-weight:normal'><span style='mso-bidi-font-size:14.0pt;
mso-fareast-language:ZH-CN'><o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;
font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>男女不限</span><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'>, </span><span
lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman";mso-fareast-language:
ZH-CN'>年龄在</span><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'>20</span><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:
SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:"Times New Roman";
mso-fareast-language:ZH-CN'>至</span><span style='mso-bidi-font-size:14.0pt;
mso-fareast-language:ZH-CN'>35</span><span lang=ZH-CN style='mso-bidi-font-size:
14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>岁左右，相貌端正。</span><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p></o:p></span></p>

<p class=MsoNormal><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;
font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>我们不在乎你的专业背景，但你要对国内外的音乐相当了解，有着较高的鉴赏品位并且视野广泛。我们希望主持人对音乐有自己的观点和态度，但不带有任何的偏见或个人嗜好。我们面对的是全国观众，因此需要主持人讲流利的普通话。</span><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p></o:p></span></p>

<p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'>2. </span></b><b
style='mso-bidi-font-weight:normal'><span lang=ZH-CN style='mso-bidi-font-size:
14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>工作地点北京</span></b><b
style='mso-bidi-font-weight:normal'><span style='mso-bidi-font-size:14.0pt;
mso-fareast-language:ZH-CN'><o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;
font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>因为节目制作的日程变化性较大，长期居住北京的人选优先考虑，当然也欢迎全国各地的朋友们发送简历，我们将结合简历综合考虑安排面试。</span><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p></o:p></span></p>

<p class=MsoNormal><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'>3</span></b><b
style='mso-bidi-font-weight:normal'><span lang=ZH-CN style='mso-bidi-font-size:
14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>．善于沟通，善于思考</span></b><b
style='mso-bidi-font-weight:normal'><span style='mso-bidi-font-size:14.0pt;
mso-fareast-language:ZH-CN'><o:p></o:p></span></b></p>

<p class=MsoNormal><b><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'>MOGO</span></b><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;
font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>网络电视台的节目实行团队化制作，节目内容也会随着观众反馈而进行调整，精益求精。我们需要主持人善于总结思考，善于与团队沟通。</span><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p></o:p></span></p>

<p class=MsoNormal><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;
font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>如果您对这份主持工作感兴趣，请把简历发送到</span><b><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'>contact@mogo.tv<o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;
font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>如果您有相关的主持工作经验，写过乐评或创作过音乐作品，也可将资料随邮件一同发送。并附近照</span><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'>3</span><span
lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman";mso-fareast-language:
ZH-CN'>张（一定要生活照）。</span><b><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'><o:p></o:p></span></b></p>

<p class=MsoNormal><b><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal><b><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;
font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>咨询电话：</span></b><b><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'>01065005378<o:p></o:p></span></b></p>

<p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='margin-left:1.0in;text-indent:.5in'><b
style='mso-bidi-font-weight:normal'><span style='mso-bidi-font-size:14.0pt;
mso-fareast-language:ZH-CN'>MOGO</span></b><b style='mso-bidi-font-weight:normal'><span
lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman";mso-fareast-language:
ZH-CN'>网络媒体招聘制作人员</span></b><b style='mso-bidi-font-weight:normal'><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-left:1.0in;text-indent:.5in'><b
style='mso-bidi-font-weight:normal'><span style='mso-bidi-font-size:14.0pt;
mso-fareast-language:ZH-CN'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal><b><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'>MOGO</span></b><b><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;
font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>网络媒体音乐类节目招聘以下制作人员：</span></b><b><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p></o:p></span></b></p>

<p class=MsoNormal><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;mso-list:l0 level1 lfo2'><![if !supportLists]><b><span
style='mso-bidi-font-size:14.0pt;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ZH-CN'><span style='mso-list:Ignore'>1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><![endif]><b><span
lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman";mso-fareast-language:
ZH-CN'>音乐节目制作策划</span></b><b><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'>1</span></b><b><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;
font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>人</span></b><b><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-left:.25in'><span lang=ZH-CN style='mso-bidi-font-size:
14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>要求：热爱音乐，熟悉各种音乐类型，对文化艺术有一定的鉴赏能力。有一定的文字编辑能力，思维活跃，善于沟通，有团队合作精神。具备一定摄像能力和</span><span
lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:
Arial;mso-hansi-font-family:Arial;mso-bidi-font-family:Arial;color:black;
mso-fareast-language:ZH-CN'>后期剪辑</span><span lang=ZH-CN style='mso-bidi-font-size:
14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>经验，熟悉电脑软件。身心健康，无不良嗜好，有相关工作经验或成功案例者优先。</span><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:.25in'><u><span style='mso-bidi-font-size:
14.0pt;mso-fareast-language:ZH-CN'><o:p><span style='text-decoration:none'>&nbsp;</span></o:p></span></u></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;mso-list:l0 level1 lfo2'><![if !supportLists]><b><span
style='mso-bidi-font-size:14.0pt;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ZH-CN'><span style='mso-list:Ignore'>2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><![endif]><b><span
lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman";mso-fareast-language:
ZH-CN'>节目后期剪辑合成</span></b><b><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'>1</span></b><b><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;
font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>人</span></b><b><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-left:.25in'><span lang=ZH-CN style='mso-bidi-font-size:
14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>要求：熟练使用</span><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'>Final Cut</span><span
lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman";mso-fareast-language:
ZH-CN'>，</span><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'>Photoshop</span><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;
font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>等软件，有</span><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'>AE</span><span
lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman";mso-fareast-language:
ZH-CN'>，三维软件基础，有一定音乐编辑能力，对文化艺术有一定的鉴赏能力，后期内容的编辑能力。勤奋好学，了解后期制作工作辛苦的特点，身体健康，有相关工作经验者优先。</span><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:.25in'><u><span style='mso-bidi-font-size:
14.0pt;mso-fareast-language:ZH-CN'><o:p><span style='text-decoration:none'>&nbsp;</span></o:p></span></u></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;mso-list:l0 level1 lfo2'><![if !supportLists]><b><span
style='mso-bidi-font-size:14.0pt;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ZH-CN'><span style='mso-list:Ignore'>3.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><![endif]><b><span
lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman";mso-fareast-language:
ZH-CN'>工作地点：</span></b><b><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'><o:p></o:p></span></b></p>

<p class=MsoNormal style='text-indent:.25in'><span lang=ZH-CN style='mso-bidi-font-size:
14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>北京</span><span style='mso-bidi-font-size:
14.0pt;mso-fareast-language:ZH-CN'><o:p></o:p></span></p>

<p class=MsoNormal><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;mso-list:l0 level1 lfo2'><![if !supportLists]><b><span
style='mso-bidi-font-size:14.0pt;mso-fareast-font-family:"Times New Roman"'><span
style='mso-list:Ignore'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></b><![endif]><b><span style='mso-bidi-font-size:14.0pt;
font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman"'>待遇：</span></b><b><span style='mso-bidi-font-size:14.0pt'><o:p></o:p></span></b></p>

<p class=MsoNormal style='text-indent:.25in'><span style='mso-bidi-font-size:
14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman"'>面议</span><span style='mso-bidi-font-size:14.0pt'><o:p></o:p></span></p>

<p class=MsoNormal><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;
font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>即日起至</span><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'>7</span><span
lang=ZH-CN style='mso-bidi-font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:
"Times New Roman";mso-hansi-font-family:"Times New Roman";mso-fareast-language:
ZH-CN'>月底，请将个人简历及作品发送至</span><b><span style='mso-bidi-font-size:14.0pt;
mso-fareast-language:ZH-CN'>contact@mogo.tv</span></b><span lang=ZH-CN
style='mso-bidi-font-size:14.0pt;font-family:SimSun;mso-ascii-font-family:"Times New Roman";
mso-hansi-font-family:"Times New Roman";mso-fareast-language:ZH-CN'>等候面试通知。如未接到来公司面试通知者，是我们认为条件不符合要求者，敬请谅解。</span><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'><o:p></o:p></span></p>

<p class=MsoNormal><span style='mso-bidi-font-size:14.0pt;mso-fareast-language:
ZH-CN'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><b><span lang=ZH-CN style='mso-bidi-font-size:14.0pt;
font-family:SimSun;mso-ascii-font-family:"Times New Roman";mso-hansi-font-family:
"Times New Roman";mso-fareast-language:ZH-CN'>咨询电话：</span></b><b><span
style='mso-bidi-font-size:14.0pt;mso-fareast-language:ZH-CN'>010-65005378</span></b><b><span
style='mso-fareast-language:ZH-CN'><o:p></o:p></span></b></p>

</div>

</body>

</html>
