<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title></title>
</head>
<body leftmargin="0" topmargin="0">
<table width="250" height="122" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
		<img src="<%= $path_billboard_image + "/" + @billboard.image %>" name="sponsorAD" width="238" height="127" border="0" id="sponsorAD">
	</td>
  </tr>
</table>

</body>
</html>
