<html>
<head>
<%= stylesheet_link_tag "carousel" , :media => "all" %>
<script type="text/javascript">
document.write( "<link rel=stylesheet type=text/css href=/stylesheets/mogo-firefox.css>");
</script>

<style type="text/css">
<!--
ol.topten-list li a, ol.topten-list li a:visited {
	color: #545358;
}
-->
</style>
</head>

<body>

<% @channel_id = 9 %>
<%= render :partial => 'show_channel_top_ten' %>

</body>

</html>