/* $Id: xtemplate.css,v 1.1 2004/02/15 14:54:39 dries Exp $ */

/*
** HTML elements
*/
body {
  margin: 0px; 
  padding: 0px;
  background-color: black;
  FONT-FAMILY: Arial, Helvetica, sans-serif£¬ Verdana, "Lucida Sans", Arial, Geneva, Helv, "Myriad Web", Syntax; 
}

/* =================================== */
/* edit form */
/* =================================== */
label {
  font-weight: bold;
  font-size: 14px;
}

/* =================================== */
/* container */
/* =================================== */
.container {
  padding: 0;
  margin: 0;
}

/* =================================== */
/* top-panel */
/* =================================== */
.top-panel {
  padding-top: 0;
  margin-top: 0;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: 70px;
}


/* =================================== */
/* left-panel */
/* =================================== */
.left-panel {
  padding-top: 0;
  margin-top: 0;
  padding-left: 0;
  margin-left: 0;
  width: 250px;
  /*height: 600px;*/
  float: left;
  background-color: black;
}

#sidebar-left-top {
  background-repeat: no-repeat;
  height: 80px;
}

#sidebar-left {
}

#sidebar-left ul {
  margin: 0;
  padding: 0 0 0 1em;
}

#sidebar-left li {
  list-style-type: none;
  padding: 0 0.5em 0 0;
  margin: 0;
}
#sidebar-left .block {
  MARGIN-BOTTOM: 10px; 
}

#sidebar-left .block #block-title {
  PADDING: 2px 2px 2px 5px; 
  DISPLAY: block;
  FONT-WEIGHT: bold; FONT-SIZE: 70%; 
  MARGIN-BOTTOM: 3px; 
  WIDTH: auto; 
  COLOR: #cccccc; 
  HEIGHT: auto; 
  BACKGROUND-COLOR: #333333; 
  TEXT-DECORATION: none;
  FONT-FAMILY: Arial, Verdana, "Lucida Sans", Arial, Geneva, Helvetica, Helv, "Myriad Web", Syntax, sans-serif; 
}

#sidebar-left .block #block-title:visited, #sidebar-left .block #block-title:link {
  color: #cccccc; TEXT-DECORATION: none; 
}

#sidebar-left .block #block-title:hover {
  color: #000000; BACKGROUND-COLOR: #ffcc00; TEXT-DECORATION: none; 
}

#sidebar-left .block .block-content {
  font-size: 12px; margin:0 10px 5px 5px; padding:0;
}

#sidebar-left .block .block-content .item-list h3 {
  margin: 5px 0 0 0;
  FONT-WEIGHT: normal;
}

#sidebar-left-bottom {
  margin: 28px 0 0 0;
}

/* Tab navigation */
ul.primary {
  border-collapse: collapse;
  padding: 0 0 0 5px;
  white-space: nowrap;
  list-style: none;
  margin: 5px 5px 5px 5px;
  height: auto;
  line-height: normal;
  border-bottom: 2px solid #bbb;
}
ul.primary li {
  display: inline;
}
ul.primary li a, ul.primary li a:visited {
  color: #FFF;
  background-color: #675F9E;
  border: 1px solid #bbb;
  height: auto;
  margin-right: 0.5em;
  padding: 0 0.4em;
  text-decoration: none;
}
ul.primary li.active a, ul.primary li.active a:visited {
  color: #FFF;
  background-color: #0A0050;
  border: 1px solid #bbb;
  border-bottom: #bbb 1px solid;
}
ul.primary li a:hover {
  color: #FFF;
  background-color: #0A0050;
  border: 1px solid #bbb;
  border-bottom-color: #bbb;
}
ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  display: inline;
  padding: 0 1em;
  border-right: 1px solid #ccc;
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: 2px solid #999;
}

/* =================================== */
/* main center panel */
/* =================================== */
.main-panel {
  margin: 0;
  padding 0;
  float: left;
  width: 600px;
  background-color: #666666; 
}

#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}

/* =================================== */
/* right-panel */
/* =================================== */
.right-panel {
  margin: 0;
  padding: 0;
  width: 145px;
}

#sidebar-right-top {
  height: 50px;
}

#sidebar-right {
}

#sidebar-right ul {
  margin: 0 0 0 0;
  padding: 0 0 0 1em;
}

#sidebar-right li.expanded {
  list-style-type: none;
  padding: 0 0.5em 0 0;
  margin: 0;
}
#sidebar-right li.collapsed {
  list-style-type: none;
  padding: 0 0.5em 0 0;
  margin: 0;
}
#sidebar-right li.leaf {
  list-style-type: none;
  padding: 0 0.5em 0 0;
  margin: 0;
}

#sidebar-right li {
  list-style-type: none;
  padding: 0 0.5em 0 0;
  margin: 0;
}

#sidebar-right .block #block-title:visited, #sidebar-right .block #block-title:link {
  color: #cccccc; TEXT-DECORATION: none; 
}

#sidebar-right .block #block-title:hover {
  color: #FFCC00; TEXT-DECORATION: none; 
}

#sidebar-right .block #block-title {
  PADDING: 0px 0px 2px 0px; 
  DISPLAY: block;
  FONT-WEIGHT: bold; FONT-SIZE: 70%; 
  MARGIN: 0 0 10px 0; 
  width: auto;
  COLOR: #cccccc; 
  HEIGHT: auto; 
  /* BACKGROUND-COLOR: #333333; */
  TEXT-DECORATION: none;
  border-bottom: 1px dotted #999;
  
}

#sidebar-right .block .block-content {
  font-size: 12px; margin:0 5px 10px 5px; padding:0;
}

#sidebar-right .block .block-content .picture img {
  width: 100px;
}

#sidebar-right .block .block-content .item-list h3 {
  margin: 5px 0 0 0;
  FONT-WEIGHT: normal;
}

#sidebar-right-bottom {
}


/* 
** titles
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}


/*
** general table tags
*/
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
tr.dark {
  background-color: #525252;
}
tr.light {
  background-color: #525252;
}
tr.dark td, tr.light td {
  padding: 0.3em;
}
tr.odd {
  background-color: #525252;
}
tr.even {
  background-color: #333333;
}
tr.odd td.active {
  background: #000;
  border-bottom: 0px;
}
tr.even td.active {
  background: #000;
  border-bottom: 0px;
}

/*
** links
*/

a {
  text-decoration: none;
}
a:link {
  color: yellow;
}
a:visited {
  color: yellow;
}
a:hover {
  color: yellow; 
  text-decoration: underline;
}

ul li a.active, ul li a.active:visited, ul li a.active:hover {
  color: #CCFFFF; 
  text-decoration: none;
}

/*
** the fieldset and legend tags are 
** used to draw the 'group' theme
*/
fieldset {
  border: 1px solid #ccc;
}

legend {
  border:0px;
  color:#FFCC00;
  font-weight: bold;
}

/*
** defines preformatted text
*/
pre {
  background-color: #000;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}



/*
** Page layout blocks / IDs
*/
#header, #content {
  width: 100%;
}
#header {
  background-color: #000;
}
#logo {
  vertical-align: bottom;
  border: 0;
  font-weight: bold;
  font-size: 1.9em;
  color: #fff;
}
#logo img {
  display: block;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right;
  vertical-align: middle;
}
#primary {
  font-size: 1.0em;
  padding: 0em 0.8em 0.5em 0;
  color: #9cf;
}
#primary a {
  font-weight: bold;
  color: #fff;
}
#secondary {
  padding: 0 1em 0.5em 0;
  font-size: 0.8em;
  color: #9cf;
}
#secondary a {
  font-weight: bold;
  color: #9cf;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
}
#search .form-text {
  width: 8em;
  height: 1.4em;
  padding: 0 0.5em 0 0.5em;
  margin: 0 0 0.5em 0;
}
#search .form-submit {
  height: 1.5em;
}
#mission {
  background-color: #333333;
  padding: 1.5em 2em;
  color: #fff;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}
#mission, .node .content, .comment .content {
  line-height: 1.4;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: 0em;
  font-size: 11px;
}

.message {
  //background-color: #000;
  //border: 1px solid #FFCC00;
  //padding: 0.3em;
  //margin-bottom: 1em;
  color: #FFCC00
}
.error {
  border-color: red;
}

#footer {
  background-color: #000;
  padding: 1em;
  font-size: 0.8em;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  margin: 0 auto 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  font-size: 12px;
  color: #999;
}
.links a {
  font-weight: bold;
}

.box {
  padding: 0 0 1.5em 0;
}

/*
** blocks
*/
.block {
}

.block .title {
  font-size: 12px;
}

.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 1em 0;
}
.static {
  padding: .5em;
  background-color: #000;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  padding: .5em 0 .75em 0;
}
.node .terms {
  color: #999;
  font-size: 0.8em;
  padding: 1.5em;
}
.node .avatar {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  margin: 5px 0 5px 0px;
}

.comment .title a:link, .comment .title a:visited {
  border-bottom: 1px solid #CCFFFF;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
}

.comment .title {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 16px;
  border-bottom: 1px solid #CCFFFF;
}

.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .avatar {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed {
  background-color: #000;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .source {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#tracker th {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
#tracker tr.light, #tracker tr.dark {
  background-color: #000;
}
#tracker td {
  vertical-align: top;
  padding: 1em 1em 1em 0;
  border-bottom: 1px solid #bbb;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #525252;
}
#forum td.topics, #forum td.last-reply {
  background-color: #636363;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
.calendar a {
  text-decoration: none;
}
.calendar td {
  padding: 0;
  border-color: #888;
}
.calendar td div {
  padding: 0.4em 0;
}
.calendar .row-week td a {
  padding: 0.4em 0;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-month {
  background-color: #bbb;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}

#login-label {
  FONT-WEIGHT: bold; FONT-SIZE: 10px; WIDTH: auto; COLOR: #cccccc; 
  FONT-FAMILY: Arial, Helvetica, sans-serif£¬Verdana, "Lucida Sans", Arial, Geneva, Helv, "Myriad Web", Syntax; 

}

/* =================================== */
/* image gallery */
/* =================================== */
.gallery {
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
}

.gallery-title {
  font-weight: bold;
  float: left;
}

.gallery-more {
  float: right;
}

.gallery-body {
  border-top: 1px dotted #999;
  margin-top: 0px;
  margin-left: 27px;
  width: 460px;
}

ul.gallery { 
  list-style-type : none;
  margin : 0;
  padding : 0;
}

ul.gallery li { 
  float : left;
  margin : 1em;
  width: 120px;
  height: 180px;
}

ul.gallery li p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #343434;
}

.gallery .thumbnail {
}

.gallery .thumbnail img {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.block-thumbnail {
  margin-bottom: 5px;
  background-color: #343434;
}

.block-thumbnail img {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}



/* old stuff */
.image {
}

.image-rating {
  font-size: 12px;
  color: #cccccc;
  margin: 10px 0 0 0;
}

#image-rating-radio {
  background-color: transparent;
}

/* =================================== */
/* member brief */
/* =================================== */
#members-main {
  margin: 10px 0 0 0;
}

#member-brief {
  width: 490px;
  margin-bottom: 15px;
}

#member-brief-top {
  margin: 0;
  padding: 0;
  background-color: black;
}

#member-brief-top-name {
  margin: 0 0 0 3px;
  padding: 0;
  float: left;
  width: 117px;
}

#member-brief-top-title {
  margin: 0;
  padding: 0;
  width: 350px;
}

#member-brief-left {
  margin: 0;
  padding: 0;
  float: left;
  width: 120px;
}

#member-brief-left img {
  margin: 0;
  padding: 0;
  width: 100px;
}

#member-brief-right {
  margin: 0;
  padding: 0;
  width: 350px;
  font-size: 14px;
}

#member-brief-right table {
  margin: 0;
  padding: 0;
  width: 350px;
}


/* ======================================= */
/* front page middle menu tiny thumb image */
/* ======================================= */
.tiny-thumbnail { 
  float: left;
}

.tiny-thumbnail table {
  margin: 5px 3px 5px 5px;
  border: 1px solid #ccc;
}

.tiny-thumbnail a img {
  width:100px;
  height: 80px;
}


/* =================================== */
/* primary links */
/* =================================== */
/* Tab navigation */
ul.primary-links {
  border-collapse: collapse;
  padding: 0 0 0 5px;
  white-space: nowrap;
  list-style: none;
  margin: 0;
  height: auto;
  line-height: normal;
}
ul.primary-links li {
  display: inline;
}
ul.primary-links li a, ul.primary-links li a:visited {
  color: #FFF;
  background-color: #000;
  border: 1px solid #bbb;
  height: auto;
  margin-right: 0.5em;
  padding: 0 0.4em;
  text-decoration: none;
}
ul.primary-links li a:hover {
  color: #000;
  background-color: yellow;
  border: 1px solid #bbb;
  border-bottom-color: #bbb;
}

