<html>

<head>
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<title>Mogo Statistics</title>
</head>
<frameset cols="250,*" border="0"> 
	<frame src="/stats/frame_left" name="frame_left" noresize/> 
	<frame src="/stats/frame_center" name="frame_center"/>
</frameset>
</html>